* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Roboto';
background-image: linear-gradient(150deg, #0F2B05, #000000);
background-repeat: no-repeat;
background-size: cover;
text-align: center;
height: 100%;
}

header {
padding: 75px 0;
}

.card {
display: inline-block;
width: 354px;
height: 508px;
background-image: url(../assets/img-Explorer.svg);
cursor: pointer;
opacity: 0;
transform: translateY(-100px);
animation: carta 1s forwards ;
user-select: none;
-webkit-user-select: none;
}

.card > img {
width: 150px;
height: 150px;
border-radius: 50%;
border: 4px solid #F7DD43;
margin-top: 115px;
pointer-events: none;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
}

.info {
margin-top: 100px;
text-align: left;
margin-left: 70px;
color: whitesmoke;
}

h1 {
font-size: 18px;
line-height: 140%;
}

p {
font-size: 14px;
line-height: 160%;
}

@keyframes carta {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}